<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make My Menu Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link rel="stylesheet" href="/assets/templates/menu1/style.css">
  <style>
    .button.active {
      /* Style for the active button */
      font-weight: bold;
      color: red;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <h2>Our Menu</h2>
    <div class="buttons-container">
      {{#each categories}}
        <a href="#" class="button" data-target="{{this}}Menu">{{this}}</a>
      {{/each}}
    </div>

    {{#each categories}}
      <div class="menu" id="{{this}}Menu" style="display: none;">
        {{#each ../menu}}
          {{#ifCond this.category ../this}}
            <div class="item">
              <div class="item__header">
                <h3 class="item__title">{{name}}</h3>
                <span class="item__dots"></span>
                <span class="item__price">${{price}}</span>
              </div>
              <p class="item__description">{{description}}</p>
            </div>
          {{/ifCond}}
        {{/each}}
      </div>
    {{/each}}
  </div>
  <script src="/assets/templates/menu1/script.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const buttons = document.querySelectorAll(".button");
      const menus = document.querySelectorAll(".menu");

      if (buttons.length > 0) {
        // Display the first menu by default
        buttons[0].classList.add("active");
        menus[0].style.display = "block";
      }

      buttons.forEach(button => {
        button.addEventListener("click", (event) => {
          event.preventDefault();
          const targetId = button.getAttribute("data-target");

          // Hide all menus
          menus.forEach(menu => {
            menu.style.display = "none";
          });

          // Remove active class from all buttons
          buttons.forEach(btn => {
            btn.classList.remove("active");
          });

          // Show the targeted menu
          document.getElementById(targetId).style.display = "block";
          // Add active class to the clicked button
          button.classList.add("active");
        });
      });
    });
  </script>
</body>
</html>
